---
layout: default
title: Alavida
description: Alavida - healthcare
keywords: healthcare
section_id: companies
banner_bg: assets/images/companies-header-banner.jpg
ovrlay_bg: "245,107,62,0.2"
banner_title: Screen, engage, treat and track with ALAVIDA.
banner_desc: Healthier employees. Lower costs. 
banner_button_text: LEARN MORE
banner_button_url: "#freeAssessment"
banner_video: true
video_url: http://youtu.be/watch?v=5SVR7x1ENm4
partners: true
banner_video: false
video_url:
callAction-heading: 83%* of heavy drinkers aren't encouraged by their loved ones to reduce drinking. But motivation matters! Learn what you can do to make a difference.
callAction:
  - text: See a Therapist
    icon: assets/images/icon-therapist.png
    modal:
    modalPopup: 
    url: https://alavida.co/booking/loved-one
  - text: Free Self Assessment
    icon: assets/images/icon-free-assessment.png
    modal: true 
    modalPopup: "#freeAssessment"
    url: #
  - text: HALO Program
    icon: assets/images/icon-HALO.png
    modal:
    modalPopup: 
    url: "#get-help"
learnMore-heading: "Feel better in 3 steps </br> Learn More, Get Help and Take Action"
learnMore-subHeading: Learn more
learnMore-desc: "Talk to a professional. Meet your personal therapist specialised in problem drinking through secure video link. This first session will help you tap into evidence- based support and get access to answers, tips, actionable tools and next steps." 
learnMore-buttonText: LEARN MORE
learnMore-buttonUrl: "https://alavida.co/booking/loved-one"
learnMore-image: assets/images/learn-more-image.png
getHelp-heading: " "
getHelp-subHeading: "Help 82.5%<sup>1</sup> of heavy drinking employees regain control in under 6 months" 
getHelp-desc: "<p>Alcohol misuse alone costs the United States $179 billion2  and Canada $7,1 billion in lost productivity. We can help you change that.</p><p>ALAVIDA instantly connects your employees to high-quality physicians, therapists and coaches specialized in heavy drinking, confidentially and from anywhere.</p>" 
getHelp-buttonText: ""
getHelp-buttonUrl: "#"
getHelp-modal_klass: "openmodal"
getHelp-image: assets/images/companies-help.jpg
takeAction-heading: " "
takeAction-subHeading: Screen
takeAction-desc: "<p>Alavida developed screening tools, as recommended by the IOM (Institute of Medicine)<sup>3</sup>, to identify potential cases early and recommend the best care options. We increase effectiveness and provide early intervention!</p>" 
takeAction-buttonText: START NOW
takeAction-buttonUrl: " https://alavida.co/booking/loved-one"
takeAction-image: assets/images/nnonymous-self-assessment.png
---
{% include header.html %}
{% include companies-get-help.html %}
{% include screen.html %}
   