---
layout: default
title: Alavida
description: Alavida - healthcare
keywords: healthcare
section_id: home
banner_bg: assets/images/banner-img.jpg
ovrlay_bg: "58,53,51,0.8"
banner_title: Drink Less with ALAVIDA
banner_desc: Cognitive-Behavioural Therapy, Medicine and Technology come together to help you drink less, or quit drinking.
banner_button_text: Take a Free Assessment
banner_button_url: "#freeAssessment"
banner_video: true
video_url: http://youtu.be/watch?v=5SVR7x1ENm4
---
{% include header.html %}
{% include about-us.html %}
{% include get-help.html %}
{% include insight-area.html %}
{% include 3option.html %}	
{% include pricing.html %}	
{% include care-team.html %}
{% include blog-home.html %}
   