---
layout: default
title: Love One
description: Alavida - Love One
keywords: healthcare
section_id: love-one
banner_bg_base: white
banner_bg: assets/images/banner-img-loves.jpg
ovrlay_bg: "185,72,36, 0.1"  
banner_title: Brilliant things happen when you  have support.
banner_desc: Alavida helps you take care of yourself while staying connected to a loved one with a drinking problem.
banner_button_text: LEARN MORE
banner_button_url: "#freeAssessment"
banner_video: false
video_url:
callAction-heading: 83%* of heavy drinkers aren't encouraged by their loved ones to reduce drinking. But motivation matters! Learn what you can do to make a difference.
callAction:
  - text: See a Therapist
    icon: assets/images/icon-therapist.png
    url:
  - text: Free Self Assessment
    icon: assets/images/icon-free-assessment.png
    url:
  - text: HALO Program
    icon: assets/images/icon-HALO.png
    url:
learnMore-heading: "Feel better in 3 steps </br> Learn More, Get Help and Take Action"
learnMore-subHeading: Learn more
learnMore-desc: "Talk to a professional. Meet your personal therapist specialised in problem drinking through secure video link. This first session will help you tap into evidence- based support and get access to answers, tips, actionable tools and next steps." 
learnMore-buttonText: LEARN MORE
learnMore-buttonUrl: "#"
learnMore-image: assets/images/learn-more-image.png
getHelp-heading: " "
getHelp-subHeading: Get Help
getHelp-desc: "<p>Alavida's Help A Loved One, or HALO Program, is the positive, evidence-based support you need as your loved one struggles with heavy drinking. HALO is designed to help the family heal. Whether you're looking to make changes within yourself or learn skills to support your loved one undergoing alcohol treatment, the greatest progress 
happens when there's support. Your personal care team  will help activate change in your life. </p> <p>With this 6-session program, learn to set boundaries, deal with challenges & set goals, communicate positively and decrease family conflicts.</p>" 
getHelp-buttonText: LEARN MORE
getHelp-buttonUrl: "#"
getHelp-image: assets/images/get-help-love.png
takeAction-heading: " "
takeAction-subHeading: Take Action
takeAction-desc: "<p>Whatever your goal is, rely on your therapist created checklist, curated information and tips to help you feel better about yourself, and engage in a new way to help the household heal.</p>" 
takeAction-buttonText: START NOW
takeAction-buttonUrl: "#"
takeAction-image: assets/images/take-action-love.png

---
{% include header.html %}
{% include 3option-loveOne.html %}	
{% include love-learn-more.html %}
{% include love-get-help.html %}
{% include love-take-action.html %}
{% include care-team.html %}
{% include blog-home.html %}



	
		
		
		
		
		
		
		
		
		
		
		
   
		
   </body>
</html>