<!-- #3 option Area start -->
<section class="option-services">
	<div  id="about"  class=" back-right-text-c">
		<div class="container">
			<div class="row text-center mb-60 ">
				<div class="wow">
					<div class="col-md-8 col-md-offset-2"><h1 class="text-center wow ">{{site.data.home.3option.heading }}</h1  ></div>
				</div>
            </div>
            <div class="row about_row  py-40">
				<!--#about-text start --> 
				{% for action in site.data.home.3option.callAction %}
					<div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
						<div class="service-1">
							<div class="servise-img wow fadeInUp">                        
								<img src="{{action.image}}" alt="{{action.text}}">
							</div>
							<div class="services-box-con">
								<h2 class="unify"> {{action.text}}</h2>
								<p class="bottom-s">{{action.desc}}</p>
								<div class="button-div">
									<a href="{{action.btnUrl}}" class="button-s ff {{action.btnPopupKlass}}"> {{action.btnText}} </a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				
               <!--#End about-text  --> 
            </div>
        </div>
	</div>
</section>
<!-- #3 option Area END -->