<!-- #About Us Area start -->
<section class="dr-profile-sec">
	<div class="container">
		<div class="row text-left ">
			<div class="col-md-6">
				<div class="dr-profile-display">
					<img src="assets/images/screen1.png" class="img-responsive">
					<div class="dr-profile-info">
						<h3>Dr. Diane Rothon</h3>
						<p>Chief Medical Officer</p>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
					</div>
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1 wow">
				<div class="title-left wow">
					<h1 class="text-left wow">Learn to Control your Cravings and Live Better</h1>
				</div>
				<p class="about_bottom_h wow fadeInUp " data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">ALAVIDA instantly connects thousands of people from anywhere to high-quality physicians, therapists and coaches specialised in heavy drinking.</p>
				<p class="about_bottom_h wow fadeInUp " data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">Get started today and access tools for self awareness and real time feedback with your care team.</p>
				<div class="top-banner wow fadeInRight text-left" style="visibility: visible; animation-name: fadeInRight;">
					<a id="#services" href="https://alavida.co/booking/assessment" class="btn btn-default  wow fadeInUp  js-scroll-trigger" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">SEE A DOCTOR NOW</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- #About Us Area END -->