<!-- #About Us Area start -->
<section class="dr-profile-sec">
	<div class="container">
		<div class="row text-left">
			<div class="col-md-6">
				<div class="dr-profile-display">
					<img src="{{ site.data.home.about.image }}" alt="{{ site.data.home.about.name }}" class="img-responsive">
					<div class="dr-profile-info">
						<h3>{{ site.data.home.about.name }}</h3>
						<p>{{ site.data.home.about.position }}</p>
						{% assign starnumber  = site.data.home.about.star %}
						{% for i in (1..starnumber) %}
						  <span class="fa fa-star checked"></span>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1 wow">
				<div class="title-left wow">
					<h1 class="text-left wow">{{ site.data.home.about.title }}</h1>
				</div>
				{% for item in  site.data.home.about.desc %}
					<p class="about_bottom_h wow fadeInUp " data-wow-delay="1s">{{item}}</p>
				{% endfor %}
				<div class="top-banner wow fadeInRight text-left">
					<a href="{{ site.data.home.about.btnUrl }}" class="btn btn-default  wow fadeInUp  js-scroll-trigger" data-wow-delay="1s">
						{{ site.data.home.about.btnText }}
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- #About Us Area END -->