<!-- #Home blog Area start -->
<section class="blog-home ">
	<div class="container">
		<div class="row text-center mb-60 ">
			<div class="wow">
				<div class="col-md-8 col-md-offset-2"><h1 class="text-center wow" >Check Out Our Blog</h1  ></div>
            </div>
        </div>
        <div class="row about_row  py-40">
			<iframe width="100%" height="1026" frameborder="0" src="https://alavida.wpengine.com/press-embed/"></iframe>
            <!--#about-text start --> 
            <!--<div class="who_we_area col-md-4 col-sm-4 col-4pad wow fadeInUp">
					<div class="service-1 blog">
						<div class="servise-img wow fadeInUp">                        
							<img src="assets/images/blog-img1.jpg">
						</div>
						<div class="blog-box-con">
							<h2 class="blog-title">Perhaps it’s not “just a phase”…</h2>
							<p class="bottom-s">When news broke out that celebrity chef Anthony Bourdain had taken his own life just three days after...</p>
							<div class="button-div">
								<a href="" class="button-s ff"> Read more   </a>
							</div>
						</div>
					</div>
				</div>
				<div class="who_we_area col-md-4 col-sm-4 col-4pad wow fadeInUp">
					<div class="service-1 blog">
						<div class="servise-img wow fadeInUp">                        
							<img src="assets/images/blog-img2.jpg">
						</div>
						<div class="blog-box-con">
							<h2 class="blog-title">How to deal with what happens after the...</h2>
							<p class="bottom-s">We often see in movies those fairytale romances and relationship stories that simply stop at the </p>
							<div class="button-div">
								<a href="" class="button-s ff"> Read more    </a>
							</div>
						</div>
					</div>
				</div>
				<div class="who_we_area col-md-4 col-sm-4 col-4pad wow fadeInUp">
					<div class="service-1 blog">
						<div class="servise-img wow fadeInUp">                        
							<img src="assets/images/blog-img3.jpg">
						</div>
						<div class="blog-box-con">
							<h2 class="blog-title"> 4 ways to break the cycle and improve your sleep</h2>
							<p class="bottom-s">The evening routine; as a young child it often involved a bedtime story and a warm bath</p>
							<div class="button-div">
								<a href="" class="button-s ff"> Read more   </a>
							</div>
						</div>
					</div>
				</div> -->
               <!--#End about-text  --> 
        </div>
	</div>
</section>
<!-- #Home blog Area END -->