<!-- #Testimonial Area start -->
<section class="testimonial-care-team">
	<div class="container">
		<div class="row text-center mb-60 ">
			<div class="wow">
				<div class="col-md-8 col-md-offset-2"><h1 class="text-center wow ">{{ site.data.team.title }}</h1>
					<p>{{ site.data.team.subTitle }}</p>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-md-12">
				<div class="testi-slick slider">
					{% for item in site.data.team.member %}
						<div class="testimonial-item">
								<div class="testimonial-img-box">
									<img src="{{item.avatar}}" alt="{{item.name}}">
									<div class="dr-profile-info2">
										<h3>{{item.name}} </h3>
										<p>{{item.position}} </p>
										{% assign starnumber  = item.star %}
										{% for i in (1..starnumber) %}
										  <span class="fa fa-star checked"></span>
										{% endfor %}
									</div>
									<div class="quot-icon">
										<img src="assets/images/quote-icon.png">
									</div>
								</div>
								<div class="testimonial-con">
									“{{item.desc}}”
								</div>
						</div>
					{% endfor %}
					
				
				</div>
				<div class="slider-btns testi" >
					<button class="testi-nav-left btn-round left"><span class="fa  fa-angle-left"></span></button>
					<button class="testi-nav-right btn-round right"><span class="fa  fa-angle-right"></span></button>
				</div>
			</div>
		</div>
        <div class="row">
			<div class="testimonials-buttons-block text-center">
				<a href="{{ site.data.team.btn1Url  }}" class="btn  btn-default btn-xs wow fadeInUp  js-scroll-trigger" data-wow-delay="1s" >{{ site.data.team.btn1Text  }}</a>
				<a href="{{ site.data.team.btn2Url  }}" class="btn left-10 btn-default btn-xs wow fadeInUp  js-scroll-trigger openmodal" data-wow-delay="1s" >{{ site.data.team.btn2Text  }}</a>
			</div>
        </div>
	</div>
</section>
<!-- #Testimonial Area END -->