<!-- #Testimonial Area start -->
<section class="testimonial-care-team">
	<div class="container">
		<div class="row text-center mb-60 ">
			<div class="wow">
				<div class="col-md-8 col-md-offset-2"><h1 class="text-center wow ">Care Team</h1>
					<p>Licensed doctors and therapists who love what they do.</p>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-md-12">
				<div class="testi-slick slider">
					<div class="">
						<div class="">
							<div class="testimonial-item">
								<div class="testimonial-img-box"><img src="assets/images/dr-testi-img1.jpg">
									<div class="dr-profile-info2">
										<h3>Dr. Keir Peterson</h3>
										<p>Emergency Medicine & Addiction Physician</p>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
									</div>
									<div class="quot-icon">
										<img src="assets/images/quote-icon.png">
									</div>
								</div>
								<div class="testimonial-con">
									“At Alavida, I can help support patients in meeting their goals around alcohol use with science-based care, without judgment or shame.”
								</div>
							</div>
						</div>
					</div>
					<div class="">
						<div class="">
							<div class="testimonial-item">
								<div class="testimonial-img-box"><img src="assets/images/dr-testi-img2.jpg">
									<div class="dr-profile-info2">
										<h3>Cory Arthurs, MC RCC</h3>
										<p>Therapist</p>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
									</div>
									<div class="quot-icon">
										<img src="assets/images/quote-icon.png">
									</div>
								</div>
								<div class="testimonial-con">
									“At Alavida, I have the opportunity to meet clients where they're at, support them in identifying their own unique goals, and witness as they explore meaningful change.”
								</div>
							</div>
						</div>
					</div>
					<div class=" ">
						<div class="">
							<div class="testimonial-item">
								<div class="testimonial-img-box">
									<img src="assets/images/dr-testi-img2.jpg">
									<div class="dr-profile-info2">
										<h3>Cory Arthurs, MC RCC</h3>
										<p>Therapist</p>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
									</div>
									<div class="quot-icon">
										<img src="assets/images/quote-icon.png">
									</div>
								</div>
								<div class="testimonial-con">
									“At Alavida, I have the opportunity to meet clients where they're at, support them in identifying their own unique goals, and witness as they explore meaningful change.”
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-btns testi" >
					<button class="testi-nav-left btn-round left"><span class="fa  fa-angle-left"></span></button>
					<button class="testi-nav-right btn-round right"><span class="fa  fa-angle-right"></span></button>
				</div>
			</div>
		</div>
        <div class="row">
			<div class="testimonials-buttons-block text-center">
				<a href="https://alavida.co/booking/assessment" class="btn  btn-default btn-xs wow fadeInUp  js-scroll-trigger" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">SEE A DOCTOR NOW</a>
				<a href="#" class="btn left-10 btn-default btn-xs wow fadeInUp  js-scroll-trigger openmodal" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">LEARN MORE</a>
			</div>
        </div>
	</div>
</section>
<!-- #Testimonial Area END -->