<!-- #Footer Area start -->
<footer class="footer">
	<div class="container">
		{% if  page.footer_Sub != "false" %}
		
		<div class="footer-top">
			<div class="row">
				<div class="col-md-7 newsletter-title">{{site.data.footer.newsletterText}}</div>
				<div class="col-md-5">
					<div class="input-group">
						<input class="form-control email-input" placeholder="{{site.data.footer.newsletterPlaceholder}}" required="" type="email">
						<span class="input-group-btn">
							<input class="btn btn-success" value="{{site.data.footer.newsletterBtnText}}" type="submit">
						</span>
					</div>
				</div>
			</div>
		</div>
		{% endif  %}
        <div class="row footer-link-area">
			<div class="col-lg-4  col-md-4 col-sm-12">
				<div class="footer_dv">
					<a class="logo-biss" href="{{site.baseurl}}"> <img src="{{ relBase }}{{site.data.footer.footerLogo}}" alt="alavida"></a>                  
					<p class="footer-about">{{ site.data.footer.aboutText}}</p>
					<p class="footer-about">{{ site.data.footer.copyright}}© 2018 Alavida Health, all rights reserved.</p>
					<ul class="social-link">
						{% for item in site.social %}
							<li>
								<a href="{{item.url}}"><i class="fa {{item.icon}}"></i></a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="footer_dv">
					<ul class="footer-menu">
						
						{% for item in site.data.footer.links.col1 %}
							{% if item.section_id == page.section_id %}
								{% assign active_class = "active" %}
							{% else %}
								{% assign active_class = "" %}
							{% endif %}
							<li><a href="{% if item.externalUrl == true %}{{item.path}} {% else %}{{ relBase }}{{item.path | remove:'/index.html' | split: '/'}}{% endif %}" class="{{active_class}}">{{item.name}}</a></li>
						{% endfor %}
                    </ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="footer_dv">
					<ul class="footer-menu">
						{% for item in site.data.footer.links.col2 %}
							{% if item.section_id == page.section_id %}
								{% assign active_class = "active" %}
							{% else %}
								{% assign active_class = "" %}
							{% endif %}
							<li><a href="{% if item.externalUrl == true %}{{item.path}} {% else %}{{ relBase }}{{item.path | remove:'/index.html' | split: '/'}}{% endif %}" class="{{active_class}}">{{item.name}}</a></li>
						{% endfor %}
                    </ul>
				</div>
			</div>
			<div class="clearfix"></div>
        </div>
    </div>
</footer>
<!-- #Footer Area END -->
<!-- POPUP here -->
{% include hubspot-form.html %}
{% include take-free-assessment.html %}

<!-- End POPUP here -->
{% include js.html %}