<!-- #Get-help Area start -->   
<section class="get-help-sec take-action">
	<div class="container help-sec-bg">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="text-center wow ">With Alavida You Can<br>Learn More, Get Help, and Take Action</h1>
			</div>
			<div class="col-md-4 text-center">
				<img src="assets/images/screen-news.png" alt="">
				<p class="top-40"><a href="#" class="btn  btn-default btn-xs wow fadeInUp  js-scroll-trigger openmodal" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">LEARN MORE</a></p>
			</div>
			<div class="col-md-4 text-center">
				<img src="assets/images/get-help-screen.png" alt="">
				<p class="top-40"><a href="https://alavida.co/booking/assessment" class="btn  btn-default btn-xs wow fadeInUp  js-scroll-trigger" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">Get Help</a></p>
			</div>
			<div class="col-md-4 text-center">
				<img src="assets/images/take-action-screen.png" alt="">
				<p class="top-40"><a href="#" class="btn  btn-default btn-xs wow fadeInUp  js-scroll-trigger openmodal" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">Take Action</a></p>
			</div>
		</div>
	</div>
</section>
<!-- #Get-help Area END -->