<!-- #Get-help Area start -->   
<section class="get-help-sec take-action">
	<div class="container help-sec-bg">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="text-center wow ">{{ site.data.home.getHelp.title }}</h1>
			</div>
			{% for item in  site.data.home.getHelp.section %}
				<div class="col-md-4 text-center">
					<img src="{{item.image}}" alt="">
					<p class="top-40"><a href="{{item.btnUrl}}" class="btn  btn-default btn-xs wow fadeInUp  js-scroll-trigger {{item.btnPopupKlass}}" data-wow-delay="1s">{{item.btntext}}</a></p>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- #Get-help Area END -->