<div class="bg-grediunt">
			<!-- Header_Area -->
			<nav class="navbar navbar-default navbar-me">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed menu-collapsed-button" data-toggle="collapse" data-target="#navbar-primary-collapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					   <a class="navbar-brand logo-biss" href="index.html"> <img src="assets/images/logo_img.png" class="img-responsive"></a>
					</div>      
					<div class="collapse navbar-collapse navbar-right  header-right-menu" id="navbar-primary-collapse">
						<ul class="nav navbar-nav">
							<li class="hide">
							   <a href="index.html" class="">For You</a>
							</li>
							 <li class=" ">
							   <a href="#" class="">For Companies</a>
							</li>
							<li class="">
							   <a href="#" class=""> For Loved Ones</a>
							</li>
							<li class=" ">
							   <a href="https://alavida.co/publications" class="">Science</a>
							</li>
							<li class=" ">
							   <a href="https://press.alavida.co" class="">Referral</a>
							</li>
							<li class=" ">
							   <a href="#" class="">Help</a>
							</li>
							<li class="">
								<a  href="tel:"  class="btn btn-default btn-call">Call Now</a>
							</li>
						</ul>
					</div><!-- /.navbar-collapse -->		
				</div>
			</nav>
			<!-- End Header_Area -->
			<div class="bg-banner-img clip-ellipse">
				<div class="ovrllay">
					<!-- #banner start -->
					<section id="banner" class=" mb-90">
						<div class="container ">
							<div class="row">
								<!-- #banner-text start -->            
								<div id="banner-text" class="col-md-8">
									<h5 class="wow fadeInUp main-h" data-wow-delay="0.2s" >Drink Less with ALAVIDA</h5>
									<p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s">Cognitive-Behavioural Therapy, Medicine and Technology come together to help you drink less, or quit drinking.</p>
									<div class="top-banner wow fadeInRight">
										<a id=""  class="btn btn-green  wow fadeInUp  js-scroll-trigger" data-wow-delay="1s" href="#"  role="button" data-toggle="modal" data-target="#freeAssessment">Take a Free Assessment</a>
									</div>
									<div class="video-img">
										<a   class="hero__play venobox" data-autoplay="true" data-vbtype="video" href="http://youtu.be/watch?v=5SVR7x1ENm4"><span><i class="fa fa-play"></i></span></a> Watch Video
									</div>
								</div>
								<!-- /#banner-text End -->
							</div>
						</div>
					</section>
				</div>
			</div>
			
		</div>
		<!--#End Our Partners Area -->