<div class="bg-grediunt {{ page.banner_bg_base }}">
			<!-- Header_Area -->
			<nav class="navbar navbar-default navbar-me">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed menu-collapsed-button" data-toggle="collapse" data-target="#navbar-primary-collapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					   <a class="navbar-brand logo-biss" href="/"> <img src="{{ relBase }}{{site.logo}}" class="img-responsive"> </a>
					   
					</div>      
					<div class="collapse navbar-collapse navbar-right  header-right-menu" id="navbar-primary-collapse">
						<ul class="nav navbar-nav">
							<!--{% for nav in site.navigations %}
								<li class="{% if nav.enable %} hide {% endif %}">
								   <a href="{{ nav.url }}" {% if forloop.last  %} class="btn btn-default btn-call" {% endif %}>{{ nav.title }}</a>
								</li>
							{% endfor %}
							-->
							
							{% for item in site.data.nav %}
							  {% if item.section_id == page.section_id %}
								{% assign active_class = "active" %}
							  {% else %}
								{% assign active_class = "" %}
							  {% endif %}
							  
								<li class=" {% if item.enable == false %} hide {% endif %}">
								  <a href="{{ item.path | remove:'/index.html' | split: '/' }}" class="{{active_class}} {% if forloop.last  %}  btn btn-default btn-call {% endif %}" >{{ item.name }}</a>
								</li>
							  
							{% endfor %}
							
							
						</ul>
					</div><!-- /.navbar-collapse -->		
				</div>
			</nav>
			<!-- End Header_Area -->
			<div class="bg-banner-img clip-ellipse" style="background-image:url({{relBase}}/{{page.banner_bg}})">
				<div class="ovrllay" style="background:rgba({{ page.ovrlay_bg }})">
					<!-- #banner start -->
					<section id="banner" class=" mb-90">
						<div class="container ">
							<div class="row">
								<!-- #banner-text start -->            
								<div id="banner-text" class="col-md-8">
									<h5 class="wow fadeInUp main-h" data-wow-delay="0.2s" >  {{ page.banner_title }}</h5>
									<p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s">{{   page.banner_desc }}</p>
									<div class="top-banner wow fadeInRight">
										<a id=""  class="btn btn-green  wow fadeInUp  js-scroll-trigger {{page.banner_button_klass}}" data-wow-delay="1s"  role="button" data-toggle="modal" 
										data-target="{{page.banner_button_url}}"> {{   page.banner_button_text }}</a>
									</div>
									{% if  page.banner_video == true %}
										<div class="video-img">
											<a   class="hero__play venobox" data-autoplay="true" data-vbtype="video" href="{{   page.video_url }}"><span><i class="fa fa-play"></i></span></a> Watch Video
										</div>
									{% endif  %}
								</div>
								<!-- /#banner-text End -->
							</div>
						</div>
					</section>
				</div>
			</div>
			
			{% if page.partners == true %}
				{% include partners.html %}
			{% endif %}
		</div>
		<!--#End Our Partners Area -->