<section class="section help-cat">
		<div class="container">			
            <div class="row">
				<div class="col-md-10 col-md-offset-1">
					<ul class="cat">
						<li><a href="#">New to ALAVIDA</a></li>
						<li><a href="#">Alavida for Loved Ones</a></li>
						<li><a href="#">Recent Updates</a></li>
						<li><a href="#">The Science</a></li>
						<li><a href="#">Troubleshooting</a></li>
						<li><a href="#">Alavida for Work</a></li>
						<li><a href="#">Payment & Billing</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Coverage</a></li>
					</ul>
					
					
				</div>
            </div>
        </div>
</section>