<!-- Common Form Modal of Hubspot -->
<!-- Modal -->
<div class="modal fade" id="modalnew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Fill details in the box:</h4>
			</div>
			<div class="modal-body">
				<div class="popup-form ">
					<!--[if lte IE 8]>
					<script charset="utf-8" type="text/javascript" src="http://js.hsforms.net/forms/v2-legacy.js"></script>
					<![endif]-->
					<script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
					<script>
					hbspt.forms.create({
						portalId: "2153401",
						formId: "4ea1f40c-66ac-4d61-b6e5-70f7ae618b60",
						css: "hub-form"
					});
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
<!--END Common Form Modal of Hubspot -->