<!-- #Insight Area start -->
<section class="insight fan-fact-area">
	<div class="container">
		<div class="insight-con">
			<div class="row">
			{% for item in  site.data.insights.insight %}
				<div class="col-md-3 col-sm-3 ">
					<div class="single-items">       					
						<div class="icon-bg">
							<img src="{{item.icon}}" alt="{{item.desc}}">
						</div>
						<h2>{{item.counterBeforeSign}}<span class="counter"> {{item.counter}} </span> {{item.counterafter}}</h2>
						<h4>{{item.desc}}</h4>
					</div>
				</div>
			{% endfor %}
			</div>
			<p>{{site.data.insights.note}}</p>
		</div>
	</div>
	<div class="overlay"></div>
</section>
<!-- #Insight Area END -->