<!-- #Insight Area start -->
<section class="insight fan-fact-area">
	<div class="container">
		<div class="insight-con">
			<div class="row">
				<div class="col-md-3 col-sm-3 ">
					<div class="single-items">       					
						<div class="icon-bg">
							<img src="assets/images/calender-icon.png">
						</div>
						<h2>< <span class="counter"> 6 </span> mo</h2>
						<h4>Results in under six months</h4>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 ">
					<div class="single-items">
						<div class="icon-bg">
							<img src="assets/images/heart-in-hand-icon.png">
						</div>
						<h2><span class="counter">300</span>+</h2>
						<h4>Getting help now</h4>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 ">
					<div class="single-items">
						<div class="icon-bg">
							<img src="assets/images/cheers-icon.png">
						</div>
						<h2><span class="counter">82.5</span>%</h2>
						<h4>Regained control of drinking*</h4>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 ">
					<div class="single-items">
						<div class="icon-bg">
							<img src="assets/images/knowlege-icon.png">
						</div>
						<h2><span class="counter">17,000</span>+</h2>
						<h4>Learning more</h4>
					</div>
				</div>
			</div>
			<p>*Source: ALAVIDA Client Completion Data, Nov'17-Apr'18</p>
		</div>
	</div>
	<div class="overlay"></div>
</section>
<!-- #Insight Area END -->