<!--#Our Partners Area -->
			 <div class="our_partners_area py-70">
				<div class="container">
				  <h5 class="text-center trusted-hed">TRUSTED BY</h5>
				   <!--#Our Partners assets/images start -->
				   <div class="partners wow fadeInUp">
					  <div class="item"><a href="https://press.alavida.co"><img src="assets/images/client_logo/client_logo-1.png" alt=""></a></div>
					  <div class="item"><a href="https://press.alavida.co"><img src="assets/images/client_logo/client_logo-2.png" alt=""></a></div>
					  <div class="item"><a href="https://press.alavida.co"><img src="assets/images/client_logo/client_logo-3.png" alt=""></a></div>
					  <div class="item"><a href="https://press.alavida.co"><img src="assets/images/client_logo/client_logo-4.png" alt=""></a></div>
					  <div class="item"><a href="https://press.alavida.co"><img src="assets/images/client_logo/client_logo-5.png" alt=""></a></div>
					  <div class="item"><a href="https://press.alavida.co"><img src="assets/images/client_logo/client_logo-6.png" alt=""></a></div>
					  <div class="item"><a href="https://press.alavida.co"><img src="assets/images/client_logo/Cbc-logo.png" alt=""></a></div>
					  <div class="item"><a href="https://press.alavida.co"><img src="assets/images/client_logo/CTV_flat_logo.svg.png" alt=""></a></div>
					  <div class="item"><a href="https://press.alavida.co"><img src="assets/images/client_logo/ej_300x300_rgb.png" alt=""></a></div>
					  <div class="item"><a href="https://press.alavida.co"><img src="assets/images/client_logo/logo_theprovince.png" alt=""></a></div>
					  <div class="item"><a href="https://press.alavida.co"><img src="assets/images/client_logo/original_logos.png" alt=""></a></div>
					  <div class="item"><a href="https://press.alavida.co"><img src="assets/images/client_logo/Saskatoon_StarPhoenix_logo_2016.png" alt=""></a></div>
					  <div class="item"><a href="https://press.alavida.co"><img src="assets/images/client_logo/toronto-desktop.png" alt=""></a></div>
				   </div>
				   <!--#End Our Partners assets/images -->
				</div>
			 </div>