<!-- #Pricing Area start -->
<section class="pricing-sec">
	<div class="container">
		<div class="row text-center mb-60 ">
			<div class="wow">
				<div class="col-md-10 col-md-offset-1"><h1 class="text-center wow">Available to Everyone With & Without Insurance</h1>
					<p>Alavida is available in Canada and the United States, and we can help you talk to your insurance provider.<br>The price for a doctor visit may be significantly lower than at an urgent care clinic.<br>Schedule now and talk to a specialist in problems related to alcohol.</p>
                </div>
            </div>
        </div> 
		<div id="carousel-example-generic" class="carousel slide carousel-fade " data-ride="carousel" >				   
			<div class="col-md-4 col-sm-4 col-md-offset-1 wow fadeInUp"  data-wow-delay="1s">
				<!-- Indicators -->
				<ol class="carousel-indicators pricing-tab">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active">With Insurance</li>
					<li data-target="#carousel-example-generic" data-slide-to="1" >Employee Benefit</li>
					<li data-target="#carousel-example-generic" data-slide-to="2" >Without Insurance</li>
				</ol>
			</div>
			<div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="1s">
				<!-- Wrapper for slides -->
				<div class="carousel-inner pricing">
					<div class="item active">
						<h3 class="text-center">Get total or partial coverage, depending on your provider!</h3>
						<div class="price-area">
							<div class="text-center">
								<a id="#services" href="#services" class="btn btn-default" >Start today</a>
							</div>
						</div>
					</div>
					<div class="item">
						<h3 class="text-center">Thousands get discounts through their employer</h3>
						<div class="price-area">
							<div class="text-center">
								<img src="assets/images/TlvuOr_A.png" alt="">
							</div>
							<div class="text-center">
								<a id="#services" href="#services" class="btn btn-default" >JOIN TO SEE COVERAGE</a>
							</div>
							<div class="text-center">
								<a href="#" class="link font16">Find Out  how to get Alavida for your company</a>. 
							</div>
						</div>
					</div>
					<div class="item ">
						<h3 class="text-center">Access quality alcohol specific healthcare  from anywhere! </h3>
						<div class="price-box">
							<div class="col">
								<p class="title-session">Care Team Session</p>
								<div class="price-number">
									$200
									<span>Flat rate</span>
								</div>
							</div>
							<div class="col">
								<p class="title-session">Assessment</p>
								<div class="price-number">
									$1500
									<span>Starting price</span>
								</div>
							</div>
							<div class="col">
								<p class="title-session">Treatment Program</p>
								<div class="price-number">
									$6500
									<span>Initial program</span>
								</div>
							</div>
						</div>
						<div class="top-banner  text-center">
							<a id="#services" href="#services" class="btn btn-default">Start today</a>
						</div>
					</div>
				</div>
				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				  <span class="fa  fa-angle-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				  <span class="fa  fa-angle-right"></span>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- #Pricing Area END -->