<!-- Common Form Modal of Hubspot -->
<!-- Modal -->
<div class="modal fade" id="freeAssessment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-md " role="document">
		<div class="modal-content option-services  modal-text">
			
			<div class="modal-body text-center">
				<h4 class="unify">Free Self Assessment Tool</h4>
				
					<p class="bottom-s text-center">Our Care and Research Team is currently reviewing the Self Assessment Tool, and working hard so it’s available again soon. Please leave your email and we will let you know as soon as it’s back online.</p>
					<p class="bottom-s">Thank your for your patience. If you’re experiencing a medical emergency, please call 911. If you wish to contact Alavida Health, please email <a href="mailto:info@alavida.co" class="button-s ff">info@alavida.co</a> or call <a href="telto:1-888-315-3634" class="button-s ff" >1-888-315-3634</a>.</p>
				
			</div>
		</div>
	</div>
</div>
<!--END Common Form Modal of Hubspot -->