{% include relBase.html %}
{% include head.html %}
{% include header-noNav-banner.html %}
<section class="section bg-light-white pb200">
<div class="container">

	<div class="main-content">
		<div class="row">
			{% include breadcrumbs.html %}
		</div>
		<div class="row">
			<div class="col-md-3">
				{% include aside-related.html%}
			</div>
			<div class="col-md-9">
				<!--
				<div class="article-post">
					<h1>How do I use Vitality with Alavida?</h1>
					<p>Currently, points can only be earned when you meditate using your iOS devices (such as an iPhone, iPad, or iPod). </p>
					<p>To get points with Vitality, make sure that your iOS device is linked with Apple Health.</p>
					<p>If you're not on the most recent version of iOS, updating the version will prompt Headspace and Apple Health to link up after completing the next Headspace session. </p>
					<p>If you're already running the latest version of iOS, please follow these steps to get everything sorted out: </p>
					
					<ul>
						<li>1. Open the Apple Health app </li>
						<li>2. Tap "Source" in the menu bar along the bottom</li>
						<li>3. Tap "Headspace"</li>
						<li>4. Make sure that 'Mindful Minutes' is turned on</li>
						<li>5. After you complete your next session, you will be prompted to set it up.</li>
					</ul>
					<p>While Vitality has announced a partnership with Headspace, the offer is not yet available in all regions. For more information about your eligibility, please reach out to your contact at Vitality.</p>
					<p>Please let us know if you have any further questions, comments, or feedback for us.</p>
					<p>Still need help? Email us at : <a href="mailto:hello@alavida.com">hello@alavida.com</a> </p>

				</div>
				<div class="article-footer">
					<div class="article-status text-center">
						<h4>Was this article helpful?</h4>
						<i class="fa fa-thumbs-o-down"></i>
						
						<p>155 out of 223 found this helpful</p>
					</div>
					<div class="article-request">
						<h4 class="pull-left">Do you have more questions?</h4> 
						<a href="#" class="pull-right  btn btn-default btn-call " >SUBMIT A REQUEST</a>
					</div>
					
				</div>
				-->
			{{content}}
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
</section>
{% include footer.html %}
</body>
</html>